/* PC */
@media (min-width: 64.000em) {
    #nav{
        display: inline-block;
        float: right;
    }
}

/* Tablet and Mobile */
@media(max-width: 63.9375em){
    .news-more-btn{
        padding: 15px 16px;
    }

    .game-web-btn{
        padding: 14px 16px;
    }

    .contact-form .form-submit-btn{
        font-size: 16px;
        padding: 15px 16px;
    }

    .modal-close{
        padding: 16px;
    }

    .modal-input{
        padding: 12px;
    }

    .contact-form .form-control{
        font-size: 16px;
        padding: 15px;
    }

    .contact-info{
        line-height: 2;
    }

    #footer .social-list{
        font-size: 32px;
    }

    #footer .social-list a{
        margin: 0 8px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) 
{
    #header{
        overflow: hidden; 
    }

    #nav .subnav{
        position: initial;
        background-color: #141e61;
    }

    #nav .subnav a {
        color: #fff;
        padding: 6px 45px;
    }

    #nav li a {
        padding: 2px 24px;
    }

    #nav > li{
        display: block;
    }

    #nav {
        display: block;
        margin-top: 60px;
    }

    #mobile-menu{
        display: block;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-column-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px;
    }

    #header{
        overflow: hidden; 
    }

    #nav .subnav{
        position: initial;
        background-color: #141e61;
    }

    #nav .subnav a {
        color: #fff;
        padding: 6px 45px;
    }

    #nav li a {
        padding: 2px 24px;
    }

    #nav > li{
        display: block;
    }

    #nav {
        display: block;
        margin-top: 60px;
    }

    #slider .text-heading{
        font-size: 20px;
    }

    #slider .text-content{
        bottom: 16px;
    }

    #slider .text-description{
        margin-top: 16px;
    }

    #mobile-menu{
        display: block;
    }

    #header .logo-link{
        position: absolute;
        top: 0;
        left: 6%;
    }

    #content .news-item{
        margin-top: 15px;
        width: 100%;
    }

    #content .news-info{
        width: 90%;
        min-height: 200px;
    }

    #content .news-img{
        width: 90%;
    }

    .game-web-btn{
        width: 100%;
        margin-left: 0;
    }

    #content .section-sub-heading{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .section-about .company-body{
        min-height: 60px;
        text-align: justify;
    }

    .section-about .company-footer{
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-form{
        margin-top: 16px;
    }   
    
    .section-contact h3{
        padding-top: 32px;
    }

    /* Fix modal */
    .modal-header{
        height: 150px;
        font-size: 25px;
    }

    .modal-label{
        font-size: 18px;
    }

    .modal-footer{
        padding: 0 16px 16px;
    }

    #send-email{
        width: 100%;
    }

}